.sell-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background: rgb(245, 198, 247);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  h1 {
    color: #0e0d0d;
  }
  
  p {
    color: #666;
  }
  
  .sell-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
    color: #333;
    margin-top: 5px;
  }
  
  input, select, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .image-preview {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .image-preview img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .submit-btn {
    background: #681a68;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .submit-btn:hover {
    background: #e65b52;
  }
  
  .back-btn {
    margin-top: 10px;
    background: #cd8bec;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-btn:hover {
    background: #c465e0;
  }
  